@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

:root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: "Amatic SC";
}

body {
    font-family: var(--primary-font);
    color: var(--text-dark);
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f8f8;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header img {
    max-width: 50px;
}

.search-form {
    display: flex;
    gap: 10px;
}

.search-form input {
    padding: 10px;
    width: 60%;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-form button {
    padding: 10px 15px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.recipe {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.recipe img {
    max-width: 100%;
    border-radius: 10px;
}

.rating {
    font-size: 1.5em;
    margin: 10px 0;
}

footer {
    background-color: var(--text-dark);
    color: var(--text-light);
    padding: 10px;
    font-size: 0.6em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.social a img {
    width: 30px;
    margin: 5px;
}

@media (min-width: 600px) {
    .recipe {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .recipe img {
        width: 50%;
        margin-right: 20px;
    }
}

@media (min-width: 960px) {
    main {
        max-width: 960px;
        margin: auto;
    }

    .description {
        display: block;
    }
}