body {
    font-family: "Georgia", serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}

h2 {
    font-size: 18px;
    color: #666;
    margin-top: 0;
    margin-bottom: 20px;
}

p {
    text-align: justify;
    line-height: 1.6;
}

ul {
    text-align: left;
    margin: 20px 0;
    padding: 0 40px;
    line-height: 1.6;
}

.logo {
    margin-top: 20px;
}

.logo img {
    width: 150px;
}

body {
    background-color: white;
    color: black;
}

h2 {
    color: #006EB6; 
}

/* Dark Theme */
body.dark {
    background-color: #333;
    color: white;
}

body.dark h2 {
    color: #87CEEB; 
}

body.dark a {
    color: lightblue;
}